<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CardSeverlet</servlet-name>
        <servlet-class>Controller.CardSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupClothServlet</servlet-name>
        <servlet-class>controller.GroupClothServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupClothServlet</servlet-name>
        <servlet-class>controller.DeleteGroupClothServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGroupClothServlet</servlet-name>
        <servlet-class>controller.EditGroupClothServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClothServlet</servlet-name>
        <servlet-class>controller.ClothServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClothServlet</servlet-name>
        <servlet-class>controller.DeleteClothServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClothServlet</servlet-name>
        <servlet-class>controller.EditClothServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayController</servlet-name>
        <servlet-class>controller.PayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByPriceServlet</servlet-name>
        <servlet-class>controller.SearchByPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByNameServlet</servlet-name>
        <servlet-class>controller.SearchByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachController</servlet-name>
        <servlet-class>controller.SeachController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CardSeverlet</servlet-name>
        <url-pattern>/CardSeverlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupClothServlet</servlet-name>
        <url-pattern>/GroupClothServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupClothServlet</servlet-name>
        <url-pattern>/DeleteGroupClothServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGroupClothServlet</servlet-name>
        <url-pattern>/EditGroupClothServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClothServlet</servlet-name>
        <url-pattern>/ClothServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClothServlet</servlet-name>
        <url-pattern>/DeleteClothServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClothServlet</servlet-name>
        <url-pattern>/EditClothServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayController</servlet-name>
        <url-pattern>/PayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByPriceServlet</servlet-name>
        <url-pattern>/SearchByPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByNameServlet</servlet-name>
        <url-pattern>/SearchByNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeachController</servlet-name>
        <url-pattern>/SeachController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
