.tr_admin
{
    margin-top: 10px;
}
.thgroupid
{
    margin-left: 100px;
}
.thclothid
{
    margin-left: 40px;
}
.pagination ul li
{
    text-decoration: none;
    float: left;
    list-style: none;
}